[includeIf "gitdir:~/code/personal/"]
  	path = .gitconfig-personal
[includeIf "gitdir:~/code/work/"]
  	path = .gitconfig-work

[user]
	email = tarabrind@gmail.com
    name = TDen

[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
